cardList {
    text-align: center;
    gap: 1em;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
   
    justify-content: space-around;
    
    margin: 10px 0;
    margin-top: 60px;
    padding: 20px 0;
  }